.photos{
    padding: 50px;
    border-radius: 70px;
}


img:hover{
    transform: scale(1.2,1.2);
    transition: 1.5s;
}
.contain{
    padding: 10px;
    border: 1px solid black;
    margin-top: 100px;
    justify-content: center;
    border: 2px dashed  rgb(7, 181, 224);
    border-radius: 30px;
    background-image: radial-gradient(circle, rgb(87, 201, 230), white, lightblue);

}
